header{
    min-height: 300px;
}

.custom-nav {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    background: linear-gradient(to right, #000000, #2b1001, #7b0505);
    margin-bottom: 120px;
    min-height: 150px;
}


.logo {
    width: 50px;
    height: 50px;
}


.nav-links {
    display: flex;
    justify-content: space-between;
    color: #fff; 
    margin-left: auto;
    margin-bottom: 10px; 
  
}

.nav-links a {  
    display: block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none;
    transition: all 0.3s ease-in-out; 
    position: relative;
    text-transform: uppercase;
}


.nav-links a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.nav-links a:hover:before {
    width: 100%;
}



.settings-dropdown {
    margin-left: 20px;
}


.dropdown-button {
  
    padding: 10px;
}


@media (max-width: 600px) {

    .logo {
        width: 40px;
        height: 40px;
    }
    .settings-dropdown {
        margin-left: 0;
    }
 
}