header{
    min-height: 300px;
}

.custom-nav {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    background: linear-gradient(to right, #000000, #2b1001, #7b0505);
    margin-bottom: 120px;
    min-height: 150px;
}

.logo {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nomCellier {
    display: inline-block;
    font-size: 36pt;
    text-decoration: underline;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    color: #fff; 
    margin-left: auto;
    margin-bottom: 10px; 
}

.nav_links a {  
    display: block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none;
    transition: all 0.3s ease-in-out; 
    position: relative;
    text-transform: uppercase;
}

.petitForm {
    width: 145px;
    margin: auto;
    text-align: center;
}

.nav_links a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.nav_links a:hover:before {
    width: 100%;
}

.settings-dropdown {
    margin-left: 20px;
}

.dropdown-button {
    padding: 10px;
}

@media screen and (max-width: 740px) {
    .logo {
        width: 40px;
        height: 40px;
    }

    .settings-dropdown {
        margin-left: 0;
    }

    .nomCellier {
        font-size: 24pt;
    }

    .cellier {
        width: 100px;
    }
}
