header{
    min-height: 300px;
}

.custom-nav {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    background: linear-gradient(to right, #000000, #2b1001, #7b0505);
    margin-bottom: 120px;
    min-height: 150px;
}

.logo {
    width: 200px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav_links {
    display: flex;
    justify-content: space-between;
    color: #fff; 
    margin-left: auto;
    margin-bottom: 10px; 
}

.nav_links a {  
    display: block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none;
    transition: all 0.3s ease-in-out; 
    position: relative;
    text-transform: uppercase;
}



.nav_links a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.nav_links a:hover:before {
    width: 100%;
}

.settings-dropdown {
    margin-left: 20px;
}

.dropdown-button {
    padding: 10px;
}


@media screen and (max-width: 740px) {
    .logo {
        width: 100px;
    }


    .settings-dropdown {
        margin-left: 0;
    }

    .nomCellier {
        font-size: 24pt;
    }

    .cellier {
        width: 100px;
    }
}


.dropdown {
    position: relative;
    padding: 10px;
    display: inline-block;
  }
  
  .dropdown-btn {
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    /* width: 100px; */
    border: none;
    color: #c90808;
    font-weight: 600;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
  .flexDDF{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: #333;
    padding: 10px;
    background: linear-gradient(-45deg, #FFFCFF,#ffe3e3, #e1e1e1,#ffe3e3 ,#FFFCFF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;    
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 30px;
    height: 150px;

  }
  
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


  .iconeDeconnexion{
    width: 50px;
  }

  .flexProfilImg{
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }


  .flexProfilImg img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }  

  .flexProfilImg img:hover{
    transform: scale(1.1);
  }

  @media (max-width: 480px) {
    .flexProfilImg img{
      margin-left: 0px;
    }

    .flexDeconnexionPara p{
      display: none;
    }

    .iconeDeconnexion{
      width: 40px;
    }

    .flexDeconnexionPara{
      font-size: 10px;
    }

    .flexProfilImg  {
      gap : 10px;
      font-size: 16px;
    }
    
    .flexProfilImg img{
      width: 20px;
    }
  }


  .flexDeconnexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  

  .flexDeconnexionPara{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #c90808;
  }