.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 60px;
}

.card h1 {
    padding: 20px;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* .card button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  
} */

.card .btn-danger {
    background-color: #dc3545;
    color: white;
}

/* .card .btn-primary {
    background-color: #007bff;
    color: white;

    } */
    
    .card a {
    font-size: 0.9em;
    text-decoration: none;
    margin: 20px;
    color: black;
    }
     
    
    .listeAutoComplete{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    
    .listeAutoComplete option{
        list-style-type: none;
        padding: 0;
    }
   
    @media screen and (max-width: 600px) {
        .card {
            width: 90%;
        }
        .card img {
            width: 100%;
            height: auto;
        }

        .listeAutoComplete{
            font-size: 12px;
        }
    }
