 .containerCatalogue {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .carteCatalogue {
   text-align: center;
   width: 23%;
   padding: 50px;
   margin: 10px;
   text-align: center;
   background-color: #fff;
   border: solid rgb(234, 234, 234) .1px;
   border-radius: 5px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }



 .carteCatalogue p {
   margin-top: 10px;
   font-size: 0.9em;
   line-height: 1.5;
 }


 .carteCatalogue:hover {
   box-shadow: 10px 10px 15px #ccc;
 }

 .carteCatalogue img {
   width: 50%;
 }

 .nom {
   font-size: 1.5em;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 10px;
 }

.cellier a:hover{
  text-decoration: underline;
}


 .urlSaq {
   text-align: center;
   margin-bottom: 10px;
   border-bottom: 1px solid black;

 }

 .urlSaq a {
   color: #910717;
   text-decoration: none;
   font-size: 1em;
 }


 .urlSaq:hover {
   transition: all 0.5s ease-in-out;
   background-color: black;
 }

 .urlSaq a:hover{
  color: white;
} 

/* médiaqueries*/ 
 @media screen and (max-width: 768px) {
  .carteCatalogue {
    width: 50%;
  }

  
  .urlSaq a {
    font-size: 0.8em;
  }
}



.paraAucunCellier{
  text-align: center;
  font-size: 1.5em;
  /* font-weight: bold; */
  margin-bottom: 10px;
}

.flexBtnAjouterCellier{
  display: flex;
  justify-content: center;
}

.flexBtnAjouterCellier a:hover{
  text-decoration: none;
  color: white;
}

.btnRouge{
  background-color: #910717;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: none;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
}

.btnRouge:hover{
  transition: all 0.4s ease-in-out;
  background-color: rgb(178, 0, 0);;
}

.flexDivACBtnAC{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.nomCellier {
  font-size: 30pt;
}

.flexImgMapNomCellier{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.flexImgMapNomCellier img{
  width: 50px;
  margin-right: 10px;
}

.cellier p{
  font-style: italic;
  margin-bottom: 10px;
}

.flexSuppModifCellier{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid; */
  gap: 10px;
}

.flexSuppModifCellier a{
  text-decoration: none;
  color: white;
}

.btnSupp {
  text-align: center;
  width: 100px;
  font-size: 18px;
}


.btnVert{
  background-color: #0f9d58;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: none;
  padding: 8px 8px;
  /* margin: 10px; */
  text-align: center;
}


/* media query 760 */
@media screen and (max-width: 760px) {
  .btnSupp {
    font-size: 16px;
  }

  .btnRouge{
    padding: 8px 8px;
  }
}

.centrerNomCellier{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnRetour{
  background-color: #910717;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: none;
  padding: 8px 8px;
  margin: 10px;
  text-align: center;
}

.flexIconeBouteille{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.flexIconeBouteille img{
  cursor: pointer;
  width: 30px;
  /* border: red solid; */
}

.flexIconeBouteille a{
  text-decoration: none;
  color: #910717;
  padding: 10px;
}

.flexIconeBouteille p{
  cursor: pointer;
  color: #910717;
}

.flexIconeBouteille form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* border: purple solid; */
}

/* media query phone */

@media screen and (max-width: 480px) {
  .flexIconeBouteille a{
    padding: 0;
  }
  
  .flexIconeBouteille p{
    display: none;
  }
  
  .flexIconeBouteille form{
    padding: 0;
  }

  .flexBouteilleCellier {
    display: block;
  }

  .carteCatalogue {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 20px;
  }
}

/* for larger screen */
@media screen and (min-width: 768px) {
  .flexBouteilleCellier {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
  }
}


.divNomBouteille{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

