.connex{
    min-height: 800px;
    width: 100%;
    height: auto;
    display: flex;
    background:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/pexels-aline-aronsky-1989164.jpg) no-repeat  center ; 
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.login{
    background-color:/*  rgba(54, 25, 25, .00010) */ white;
    min-height: 250px;
    opacity: 0.7;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
    /* color: white;  */ 
    font-weight: bolder;
    text-transform: uppercase;
  
}


.login a{
    margin-left: 5px;
}
.login a:hover{
    text-decoration: underline;
}

.login button:hover{
    background-color: red;
}
