.bodyLanding {
    /* ref: https://www.wallpaperup.com/848773/glass_of_wine_alcohol.html */
    background: url(../img/wineglass.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    color: white;
    text-align: center;
    font-size: 26pt;
    width: 60%; 
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.landingPage a {
    display: inline-block;
    padding: 12px 24px;
    margin: 20px;
    text-decoration: none;
    font-size: clamp(12pt, 18pt, 22pt);
    font-weight: bold;
    color: white;
    background-color: #c63030;
    border-radius: 4px;
    transition: background-color 0.3s ease,
                transform 0.3s ease;
}

.landingPage a:hover {
    background-color: #be4b28;
    transform: scale(1.05);
}

.titreLanding {
    width: 80%;
    margin: 0 auto;
}

.titreLanding .bueno {
    color: yellow;
}

.titreLanding .mcc {
    text-decoration: underline;
}

.liens {
    margin-top: 2.5em;
}

.liens a {
    display: inline-block;
    width: 240px;
    text-transform: uppercase;
}

@media screen and (max-width: 650px) {
    .landingPage {
        font-size: 18pt;
        left: 50%;
        width: 400px;
    }

    .liens {
        margin-top: 1.5em;
    }

    .liens a {
        font-size: 12pt;
        width: 180px;
    }
}