header {
    background-color: #000;
    height: 80px; 
    display: flex;
    margin-right: 2%; 
    margin-left: 2%; 
 /*    align-items: center; */
}

nav {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}


.titre {
    display: flex; 
    align-items: center; 
    color: #910717;
    font-size: 1.5em;
}


.link {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    
   
}

.link a {
    color: #fff; 
    text-decoration: none; 
    margin-left: 20px; 
    transition: all 0.3s ease-in-out; 
    text-transform: uppercase;
    font-size: 13px; 
    
}


.link a:hover {
    color: #910717; 
}

/* mediaqueries */
@media screen and (max-width: 768px) {
   
     .link a {
        font-size:1em;
        padding: 10px;
      
    } 
    nav{
        justify-content: center;
    }
   .titre{
        display: none;
    } 
  
    .link {
        flex-direction: column;
    } 
}